* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  background-color: #f2f2f2;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
img {
  /*display: block;*/
  width: 100%;
}
a {
  color: inherit;
  /*display: block;*/
  text-decoration: #666;
}
input {
  border: none;
  outline: none;
}
.pr {
  position: relative;
}
